.questions {
    /* margin: 3vw; */
    margin-top: 3vw;
    margin-left: 12vw;
    display: flex;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    width: 80%;

    .logo{
        position: absolute;
        width: 69px;
        left: 10px;
        bottom: 10px;
    }

    
    .containerText{
        display:flex;
        justify-content: space-evenly;
        margin-left: 5%;
        align-items: center;
        position: relative;
        height: 100%;

        p{
            font-family: Helvetica, sans-serif;
            font-size: 20px;
            color: white;
            text-align: center;
            justify-content: center;
            align-self: center;
        }

        .alveole{
            position: absolute;
            width: 64px;
            height: 62px;
            right: 5%
        }
    }

}




