.Questions p{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-right: 3%;
}

.Alveole{
    width: 64px;
    height: 62px;
}

.Logo{
    position: absolute;
    width: 69px;
    left: 10px;
    bottom: 10px;
}

.containerText{
    display: flex;
    justify-content: center;
    align-items: center;
}